MONGODB_URI=mongodb://login:senha!!@ipserver:port/db
MONGODB_DB=db
NEXTAUTH_URL=https://localhost:3000
NEXT_PUBLIC_URL_API=http://localhost:3000/api
NEXT_PUBLIC_URL_REDIRECT_POS_LOGIN=http://localhost:3000/perfil
JWT_SIGNING_PRIVATE_KEY=BarbosaKellvemSalt

BYCRYPT_SIGNING_PRIVATE_KEY=KellvemBarbosaKEY
BYCRYPT_SALTROUNDS=10